## Welcome to Shubhi's first Jupyter Notebook!

Here you can equations $\int$

In [4]:
x = [0,1,2]
for x_ in x:
    print(x_)

0
1
2

Shubhi is writing an equation $\sum = X_i/n$

In [5]:
print("Hello world")

Hello world

In [6]:
#to print 
print("Hello Python World")

Hello Python World

In [7]:
float(2)

2.0

In [8]:
x = float(2)

In [9]:
y = int(x)

In [10]:
print(y)

2

In [11]:
print(x)

2.0

In [12]:
type(True)

bool

In [34]:
type(TRUE)

NameError: name 'TRUE' is not defined

In [15]:
#to convert 1 to a boolean
bool(1)

True

In [16]:
bool(0)

False

In [17]:
bool(3)

True

In [18]:
bool(-2)

True

In [19]:
bool(0)

False

In [22]:
#use double slash to round the results to an integer

25/6

4.166666666666667

In [23]:
25//6

4

In [32]:
my_variable= 10

my_variable

10

In [33]:
my_variable = my_variable/4

my_variable

2.5

In [35]:
#the first index of a string is 0 not 1

#negative indexing also works- i.e. the last element in a string is 

#indexed -1

In [40]:
trial_name = "Michael Jackson"
trial_name[::2]

'McalJcsn'

In [41]:
trial_name[0:5:2] #returns ever second value upto index 4

'Mca'

In [42]:
len(trial_name) # string length

15

In [43]:
3 * trial_name # replication

'Michael JacksonMichael JacksonMichael Jackson'

In [48]:
new = trial_name + " is cool"
new

'Michael Jackson is cool'

In [49]:
new.upper() # call upper() function to convert from lower to upper

'MICHAEL JACKSON IS COOL'

In [52]:
newer = new.replace("Michael", "Shubhi")
newer

'Shubhi Jackson is cool'

In [53]:
newer.find("Jack") #returns first index

7

In [54]:
#tuples are lists that can hold multifarious data

my_tuple = ("disco", 10, 1.2, "nuts", 14)

my_tuple[0:3] #returns everything UPTO 3rd element 

#remember first is 0

('disco', 10, 1.2)

In [55]:
#tuples are immutiable- can't change an element. 
#must create a new tuple

In [64]:
#nesting in a tuple

nest_tuple = ("disco", (1, 2), "nuts", (14, 5), ("hard", "rock"))

nest_tuple[0:2]

('disco', (1, 2))

In [89]:
#lists are like tuples but mutable
my_list = ["disco", 1, 2, "nuts"]
my_list

#access the last element
length = len(my_list)

my_list[2:length+1]

[2, 'nuts']

In [90]:
#to add to a list 

my_list.extend(["pop", "rock"])

#extends the list, can't save it as a new list

my_list

['disco', 1, 2, 'nuts', 'pop', 'rock']

In [91]:
len(my_list)

6

In [93]:
#aliasing 
A = ["banana", "rock"]
B = A
A[0] = "hard"
B

['hard', 'rock']

In [94]:
#cloning 
A = ["banana", "rock"]
B = A[:]
A[0] = "hard"
B

['banana', 'rock']

In [101]:
#sets do not record element position
#sets don't have repeats! No duplicate items
#set() converts a list to a set

A.extend(["hard"])
A

['hard', 'rock', 'hard', 'hard', 'hard', 'hard']

In [102]:
set(A)

{'hard', 'rock'}

In [108]:
A.remove("hard") #only removes it once!
A

['rock']

In [109]:
set(A)

{'rock'}